@import "tailwindcss";

:root {
  --toastify-font-family: "TT Hoves", sans-serif;
  --toastify-color-success: #136638;
}

@font-face {
  font-family: "TT Hoves";
  font-style: normal;
  src: url(/fonts/TTHovesProTrialRegular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "TT Hoves";
  font-style: normal;
  src: url(/fonts/TTHovesProTrialMedium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "TT Hoves";
  font-style: normal;
  src: url(/fonts/TTHovesProTrialDemiBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "TT Hoves";
  font-style: normal;
  src: url(/fonts/TTHovesProTrialBold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "TT Hoves";
  font-style: normal;
  src: url(/fonts/TTHovesProTrialExtraBold.ttf) format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "TT Hoves";
  font-style: normal;
  src: url(/fonts/TTHovesProTrialBlack.ttf) format("truetype");
  font-weight: 900;
}

body,
html {
  scroll-behavior: smooth;
  background-color: #ffffff;
  font-family: "TT Hoves", sans-serif;
}

input*,
input:-webkit-autofill::first-line {
  font-family: "TT Hoves", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "TT Hoves", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

@theme {
  --color-dark-green: #1b4332;
  --color-light-green: #40916c;
  --color-btn-green-dark: #2d6a4f;
  --color-light-green-gradient: #1fa35b;
  --color-dark-green-gradient: #136638;
  --color-gray-light: #5e5656;
}

/* @theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
} */
