@font-face {
  font-family: "TT Hoves";
  font-style: normal;
  src: url(/fonts/TTHovesProTrialBold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "TT Hoves";
  font-style: normal;
  src: url(/fonts/TTHovesProTrialBold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "TT Hoves";
  font-style: normal;
  src: url(/fonts/TTHovesProTrialBlack.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "TT Hoves";
  font-style: normal;
  src: url(/fonts/TTHovesProTrialDemiBold.ttf) format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "TT Hoves";
  font-style: normal;
  src: url(/fonts/TTHovesProTrialExtraBold.ttf) format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "TT Hoves";
  font-style: normal;
  src: url(/fonts/TTHovesProTrialMedium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "TT Hoves";
  font-style: normal;
  src: url(/fonts/TTHovesProTrialRegular.ttf) format("truetype");
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  scroll-behavior: smooth;
  background-color: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "TT Hoves", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
